@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
.body{
	background: #171717;
}
a:hover{
	text-decoration: underline rgba(36, 255, 28, 0.062)!important;
}
hr{
	background-color: #fff;
}
h2{
	color: #ffc107!important;
	margin-top: 50px;
}
.hh1{
	text-align: center;
	color: #f97300;
	
}
.btn{
	white-space: normal!important;
}
.hr_tr{
	background-color:transparent;
	border: 1px solid transparent;
	margin: 0px 0px 100px;
}


.navbar{
	background:#171717;	
	font-family: 'Sriracha', cursive;
	border-bottom: 1px solid #f97300;
}
.nav-link , .navbar-brand{
	color: #f97300;
	cursor: pointer;
}
.nav-link{
	margin-right: 1em !important;
	transition: 0.5s;
}
.nav-link:hover{
	background-color: #f4f4f4;
	color: #f97300;
}
.navbar-collapse{
	justify-content: center;
	padding: 10px 0px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
.navbar h3{
	margin: 0px 0px 0px 0px;
	
}
.navbar .hh5{
	font-size: 18px;
	font-weight: 500;
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 3px 0px;
}
.hh5_1{
	padding: 0px 0px 0px 0px!important;
}
nav .nav-link{
	font-size: 18px;
	font-weight: 500;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px!important;
}
nav .dropdown-item{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	color: #f97300;
}
nav .dropdown-menu{
	background-color: #171717;
}
nav .dropdown-item:hover{
	color: #f97300;
}




.header{
	height: auto;
	background-image: url(contemporary-room-workplace-office-supplies-concept.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: 75%;
}
.overlay{
	min-height: 100%;
	min-width: 100%;
	background: rgba(0, 0, 0, 0.60);
}
.description{
	padding: 300px 20px 250px;
}
.description h1{
	height: auto;
	font-size: 45px;
	font-weight: 500;
	color: #f97300;
}
.description p{
	color: rgb(255, 255, 255);
	font-size: 25px;
	line-height: 1.5;
}
.description button{
	height: auto;
	border: 1px solid #f97300;
	background: #f97300;
	color: #fff;
}
.description button:hover{
	height: auto;
	border: 1px solid #f97300;
	background: #f97300;
	color: #fff;
}




.all_pc{
	margin: 4em 0;
	position: relative;
}
.all_pc .product{
	width: 100%;
}
.all_pc .product .product_text{
	padding: 0;
	width: 65%;
	color: #f4f4f4;
}
.all_pc .product .product_img{
	width: 100%;
	height: auto;
}
.all_pc .product .product_img img{
	width: 100%;
}
.all_pc .btn1{
	height: auto;
	border: 1px solid #f97300;
	background: #f97300;
	color: #fff;
}
.all_pc .btn1:hover{
	color: white;
	background-color: #c35a00;
}
.all_pc .btnfl{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.all_pc .btn2{
	height: auto;
	border: 1px solid  #ffc107;
	background:  #ffc107;
	color: #fff;
}
.all_pc .btn2:hover{
	color: white;
}
.img404 img{
	width: 100%;
}

.card_row{
	padding: 10px!important;
}
.card{
	border: 1px solid #f97300!important;
}
.card-body{
	background-color: rgb(187, 187, 187)!important;
}
.card button{
	margin: 5px;
}


