.nothing{
    margin-top: 1px;
    padding: 20px 0;
}
.nothing h3{
    text-decoration: none;
    font-size: 18px;
}
img{
    width: 100%;
}
.pc_text_center{
    text-align: center;
}
.pc_text_center h4{
    color: #afafaf;
}
.pc_text_center h1{
    font-size: 45px;
}